.table-row-selected{
	background-color: #80c1ff;
}

.table-row-unselectable{
	color : #bfbfbf;
}

.btn-group{
	margin-top: 50px;
}

#button-search{
	margin-bottom: 20px;
}

table{
 height:300px; 
}

tbody > tr{
	cursor: pointer;
}

thead > tr, .table-row-unselectable:hover{
	cursor: default;
}

tbody{
  overflow-y: scroll;
  height: 300px;
  width: 100%;
  position: absolute;
}


.table-row-selectable:hover {
    background-color: #e6f3ff;
}


/*tr.tr-select {
    background-color: #808080;
    color: white;
}

tr.tr-select:hover {
    background-color: #808080;
    color: white;
}

tr.tr-highlight-select {
    cursor: pointer;
}

.tr-highlight-select:hover {
    background-color: #c0e4f9;
}*/